
h1 {
    text-align: center;
    padding: 1rem 0;
    color: $primary;
    font-size: 3rem;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 1500px;
   
}

.box-area {
    position: relative;
    transform-style: preserve-3d;
    &:hover {
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.box {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid #262626;
}

.box-front {
    transform: translateX(-200px) translateY(-200px) translateZ(200px);
    background: rgba(255, 16, 107, .5);
}

.box-back {
    transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    background: rgba(1, 251, 236, .5);
}

.box-right {
    transform: translateY(-200px) rotateY(90deg);
    background: rgba(4, 255, 116, .5);
}

.box-left {
    transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    background: rgba(216, 255, 0, .5);
}

.box-bottom {
    transform: translateX(-200px) rotateX(90deg);
    background: rgba(255, 30, 0, .5);
}

.box-top {
    transform: translateX(-200px) translateY(-400px) rotateX(90deg);
    background: rgba(0, 6, 246, .5);
}

.box-area {
    transform: rotateX(90deg) rotateY(90deg);
}


.cube {
    position: relative;
    width: 200px;
    top: 100vh;
    left: 40vw;

    &:hover {
        animation-name: slide;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
    }

}

.side {
    width: 200px;
    height: 200px;
    position: absolute;
    &.top {
        background-color: rgba(red, .5);
        transform: rotate(-45deg) skew(15deg, 15deg);
    }
    
    &.left {
        background-color: rgba(violet, .5);
        transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
    }

    &.right {
        background-color: rgba(green, .5);
        transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
    }
}



@keyframes slide {
    0% {
        transform: rotateY(0) scale(.5);
        
    }
    100% {
        transform: rotateY(-720deg) scale(2);
        
    }
}